.card {
	margin: 20px 0;
	padding: 16px;
	border-radius: 10px;
	background-color: #1e1e1e;
}

.description {
	margin-top: 10px;
}

@media only screen and (max-width: 600px)  {
	.card {
		margin: 10px 10px;
	}
}