* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    color: #fff;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.column {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border: 1px dashed #f2f2f2;
    padding: 10px;
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
   .row {
       margin: 10px 10px;
   }
}